
.header {
  text-align: center;
  margin-bottom: 20px; /* Tilføjet afstand under header */
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.header h2 {
  font-size: 18px;
}

.header p {
  font-size: 16px;
  margin-bottom: 0;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #3C412A;
  color: #fff;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.prev, .next {
  display: none;
}
  
  
  @media (min-width: 768px) {
    /* Stilarter for større skærme */
    .header h1 {
      font-size: 36px;
    }
  
    .header h2 {
      font-size: 24px;
    }
  
    .header p {
      font-size: 18px;
    }
  
    .slideshow-container {
      max-width: 800px; /* Juster maksimal bredde til større skærme */
    }
  
    .prev, .next {
      display: inline-block; /* Vis knapperne på større skærme */
    }
  }
  