
  
  .header {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header h1 {
    font-size: 30px; /* Mobilstørrelse */
    font-weight: bold;
    position: absolute; /* Tilføj position: absolute; */
    top: 30%; /* Placer overskriften i midten af headeren */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer overskriften i midten af headeren */
    z-index: 1; 
    color: #fff;
  }
  
  .header h2 {
    font-size: 18px; /* Mobilstørrelse */
    position: absolute; /* Tilføj position: absolute; */
    top: 40%; /* Placer overskriften i midten af headeren */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer overskriften i midten af headeren */
    z-index: 1;
    color: #fff; 

  }
  
  .header p {
    font-size: 18px; /* Mobilstørrelse */
    margin-bottom: 0; /* Fjern afstanden under p-elementet */
    position: absolute; /* Tilføj position: absolute; */
    top: 45%; /* Placer overskriften i midten af headeren */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer overskriften i midten af headeren */
    z-index: 1; 
    color: #fff;
  }
  
  button {
    font-size: 16px;
    padding: 10px 30px;
    background-color: #fff; /* Ændret baggrundsfarven til hvid */
    color: #000000; /* Ændret tekstfarven til blå (eller en farve efter dit valg) */
    border: none;
    border-radius: 5px; /* Tilføjet afrundede kanter */
    cursor: pointer;
    position: absolute; /* Tilføj position: absolute; */
    top: 52%; /* Placer overskriften i midten af headeren */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer overskriften i midten af headeren */
    z-index: 1; 

  }

  button:hover {
    background-color: #3C412A; /* Grøn farve når musen er over knappen */
    color: #fff; /* Ændret tekstfarven til hvid, så det er synligt på den grønne baggrund */
  }
  
  .slideshow-container {
    max-width: 100%; /* Fyld bredden af forælderens container */
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    text-align: center;
    margin-top: -39px;
    z-index: 2;
  }

  .mySlides img {
    display: block;
    margin:0 auto;
    width: 1425px;
    max-height: 600px;
    overflow:visible;
  }
  

  .prev, .next {
    display: none; /* Skjul knapperne på mobil */
  }

  .buy-section {
    text-align: center;
    margin: 20px 0; /* Tilføjet afstand over og under sektionen */
  }
  
  .buy-section p {
    font-size: 20px;
  }
  



  .product {
    width: 100%; /* 33.33% width for each product with 18.8px margin */
    display: flex;
    justify-content: center;

  }
  
  .product img {
    width: 80%;
    height: auto; 
    margin: 10px auto; 
  }
  
  .product h3 {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product p {
    font-size: 14px;
    margin: 5px 0;
  }
  .image-wrapper {
    text-align: left;
    margin: 0 10px;
  }



  @media (min-width: 768px) {
    /* Stilarter for større skærme */
    .header h1 {
      font-size: 120px;
    }
  
    .header h2 {
      font-size: 25px;
    }
  
    .header p {
      font-size: 20px;
      margin-bottom: 15px; /* Juster afstanden under p-elementet på større skærme */
    }
  
    .slideshow-container {
      max-width: 800px; /* Juster maksimal bredde til større skærme */
    }
  
    .prev, .next {
      display: inline-block; /* Vis knapperne på større skærme */
    }
  }
  
  
  @media (min-width: 768px) {
    /* Stilarter for større skærme */
    .header h1 {
      font-size: 50px;
    }
  
    .header h2 {
      font-size: 24px;
    }
  
    .header p {
      font-size: 18px;
    }
  
    .slideshow-container {
      max-width: 800px; /* Juster maksimal bredde til større skærme */
    }
  
    .prev, .next {
      display: inline-block; /* Vis knapperne på større skærme */
    }
  }
  