* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura PT';                                       
  }
  html {
    height: 100%;
  }

  i {
    color: #3C412A;
  }
  
  .top-section {
    background-color: #3C412A;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .main-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-list li {
    margin-left: 0px;
    
  }
  
  
  .main-list li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 15px;
    transition: color 0.3s ease;
    padding: 10px 10px;
  }
      
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    height: 80px;
    box-shadow: 0 4px 8px 0 grey;
  }
  
  .logo img {
    height: 75px;
    cursor: pointer;
  }
  
  .main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-nav li {
    margin-right: 20px;
  }
  
  .main-nav li:last-child {
    margin-right: 0;
  }
  
  .main-nav li a {
    text-decoration: none;
    color: #161618;
    font-size: 20px;
    font-weight: 450;
    transition: color 0.3s ease;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  .main-nav li a:hover {
    color: grey;
    border-bottom: 1px solid #3C412A;
  }

  .main-nav li a.red {
    color: #EF4545; /* Ændre farven efter dine præferencer */
  }
  
  .main-header ul {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
  }

  .main-header .iconh li  {
    margin-right: 5px;
    cursor: pointer;
    display: inline;
  }
 
  .main-header  {
    justify-content: space-around;
  }

  footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    height: auto;
    bottom: 0;
    width: 100%;
    position: absolute;
  }

  .footer-heading {
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 500;
  }

  .column {
  flex: 0 0 calc(100% - 20px); 
  margin: 0 10px 50px;
  text-align: left;
  }

  .column h3 {
  font-size: 20px;
  }

  .column li {
  font-size: 15px;
  }

  .columns {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin: 0 0 20px; 
  }


  .column:last-child {
  margin-right: 0;
  }

  .submenu {
    list-style-type: none;
    padding: 0;
  }

  .submenu-item {
    margin-bottom: 5px;
  }
  
  .footer-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }

  .footer-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.footer-list li {
  display: inline-block;
  text-decoration: none;
  color: #161618;
  font-size: 15px;
}

.footer-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-images img {
  margin: 0 10px;
  height: 30px;
  margin-bottom: -20PX;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
}

  .icons i  {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

.divider {
  border: 1px solid #ccc; 
  margin: 20px 0; 
  width: 100%;
}

p {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #161618;
  font-size: 15px;
}

@media (min-width: 768px) {
  .columns {
    flex-direction: row; 
  }
  
  .column {
    flex: 0 0 20%;
    margin: 0 auto;
    color: #EF4545;
  }
  
  .icons ul  {
    margin-left: 50px;
  }

  .icons i  {
    font-size: 20px;
    margin-right: 5px;
    display: inline;
  }

  .footer-list li {
    margin-right: 20px;
  }
  
  .main-list li a {
    font-size: 18px;
    padding: 10px 30px;
  }

  .footer-heading {
    font-size: 40px;
  }

}

@media (min-width: 1024px) {
  .column {
    color: blue;
  }
}