body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
  }
  
  .column {
    width: 30%; /* Bredden ændret for at have plads til 3 produkter på hver linje */
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .product img {
    max-width: 100%; /* Begræns billedbredden til 100% af forældrelementet */
    height: auto; /* Sørg for, at højden justeres automatisk for at bevare billedets sideforhold */
    display: block; /* Fjern eventuel hvid plads under billedet */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .filter-group {
    margin-right: 20px;
  }
  
  #resultCount {
    margin-top: 20px;
  }
  
  /* Medieforespørgsler for at gøre siden responsiv */
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
    }
  
    .filter-group {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  