body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .winter-header {
  text-align: center;
  margin: 20px 0;
}

.winter-header h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.winter-header .sub-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.winter-header .description {
  font-size: 16px;
}
  
  .container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
  }
  
  .column {
    width: 30%; /* Bredden ændret for at have plads til 3 produkter på hver linje */
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap; /* Ændret til wrap for at opnå ønsket layout */
    justify-content: space-around; /* Tilføjet for at centrere produkterne vandret */
  }
  
  .product {
    width: 30%; /* Bredden ændret for at have plads til 3 produkter på hver linje */
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid rgba(221, 221, 221, 0.5); /* Tilføjet en kant for at adskille produkter */
    padding: 10px;
  }
  
  .product img {
    width: 100%; /* Gør billedet fyldt 100% inden for forældre-containeren */
    height: auto;
    display: block;
  }
  
  .product-info {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .filter-group {
    margin-right: 20px;
  }
  
  #resultCount {
    margin-top: 20px;
  }
  
  /* Medieforespørgsler for at gøre siden responsiv */
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
    }
  
    .filter-group {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  